<form class="container"action="/" method="POST">
  <div class="form-group">
    <label for="inputURL">Kindly input the URL you'd like to shorten.</label>
    <input type="text" class="form-control" id="inputURL" name="original" oninvalid="alert('You must input a URL!');" required aria-describedby="url"
      placeholder="Input the URL here">
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>