<form class="addPage"action="/restaurants" method="POST">
  <p class="form-group" style="font-weight:bold;font-size: 18px">歡迎新增餐廳作為口袋名單！<br />請輸入以下餐廳資訊，有*註記者為必填欄位喔！</p>
  <div class="form-group">
    <label for="restaurantName">餐廳名稱 *</label>
    <input type="text" class="form-control" id="restaurantName" name="name" placeholder="請輸入餐廳名稱" required
      oninvalid="alert('請輸入餐廳名稱！');">
  </div>
  <div class="form-group">
    <label for="restaurantNameEn">餐廳英文名稱</label>
    <input type="text" class="form-control" id="restaurantNameEn" name="name_en" placeholder="English name here">
  </div>
  <div class="form-group">
    <label for="restaurantCategory">餐廳分類 *</label>
    <select class="form-control" id="restaurantCategory" name="category" required
      oninvalid="alert('請選擇餐廳分類！');">
      <option  selected disabled hidden>
      </option>
      <option>中東料理</option>
      <option>義式餐廳</option>
      <option>日本料理</option>
      <option>美式</option>
      <option>酒吧</option>
      <option>咖啡</option>
    </select>
  </div>
  <div class="form-group">
    <label for="restaurantImage">圖片URL</label>
    <input type="text" class="form-control" id="restaurantImage" name="image" placeholder="">
  </div>
  <div class="form-group">
    <label for="restaurantLocation">餐廳地址</label>
    <input type="text" class="form-control" id="restaurantLocation" name="location" placeholder="">
  </div>
  <div class="form-group">
    <label for="restaurantPhone">電話號碼</label>
    <input type="text" class="form-control" id="restaurantPhone" name="phone" placeholder="02-12345678">
  </div>
  <div class="form-group">
    <label for="restaurantMap">Google地圖連結</label>
    <input type="text" class="form-control" id="restaurantMap" name="google_map" placeholder="">
  </div>
  <div class="form-group">
    <label for="restaurantRating">餐廳評分</label>
    <input type="number" class="form-control" id="restaurantRating" name="rating" value="5" placeholder="" min="1.0"
      max="5.0" step="0.1">
  </div>
  <div class="form-group">
    <label for="restaurantDescription">餐廳介紹</label>
    <textarea class="form-control" id="restaurantDescription" name="description" rows="7"
      placeholder="為餐廳加點介紹文吧！"></textarea>
  </div>
  <div class="form-group" style="display:flex;justify-content: space-around">
    <button type="submit" class="btn btn-primary">送出</button>
    <a class="btn btn-primary" href="/" role="button">返回首頁</a>
  </div>
</form>