<div class="container">
  <h5 class="text-center">Success! Please use the following link:</h5>
  <a href="{{original}}">
    <p class="text-center" id="textArea">http://localhost:3000/{{shortenedURL}}</p>
  </a>
  <button class="btn btn-primary" onclick="copyToClickBoard()">Copy</button>
  <a href="/"><button class="btn btn-primary">Back</button></a>
</div>

