
.form-group{
  margin: 50px 35% 10px 35%;
  width: 400px;
}


.btn {
  margin: 0px 40% 10px 40%;
  width: 100px;
}

.urlImage{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}